---
// Import components
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'

// Import images
import { Image } from 'astro:assets'
import profilePicture from '../assets/cartoon-profile.webp'

// Import data
import { about, labels, allBlogPosts } from '@/utils'

const blogPosts = await allBlogPosts
const meta = {
	description:
		"Welcome to Stijn Hering's personal website, showcasing expertise in data science, data engineering, and software development. Recruiters and other interested visitors can find detailed personal information, work experience, and access to my resume.",
	title: 'Stijn Hering - Data Scientist & Engineer'
}
---

<PageLayout meta={meta}>
	<div class='flex flex-col w-full gap-y-24'>
		<section class='flex flex-col items-center gap-y-7'>
			<h1 class='text-3xl font-bold'>Hi!</h1>
			<Image
				src={profilePicture}
				alt='Cartoon of Stijn Hering'
				class='w-auto rounded-xl bg-gradient-to-r from-black to-[#3E6AF2] p-1 dark:from-white dark:to-[#3E6AF2] md:h-80'
				loading='eager'
			/>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>Have a look...</h1>

				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					{
						labels.map((label) => (
							<Label
								title={label.title}
								href={label.website}
								as={label.website ? 'a' : 'div'}
								target={label.website ? '_blank' : undefined}
							>
								{label.icon && (
									<Image
										src={label.icon}
										alt={`${label.title} icon`}
										class='w-5 h-5 dark:text-white'
										loading='eager'
										slot='icon'
									/>
								)}
								{label.logo && (
									<Image
										src={label.logo}
										alt={`${label.title} logo`}
										class='w-5 h-5'
										loading='eager'
										slot='logo'
									/>
								)}
							</Label>
						))
					}
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
				{about}
			</p>
		</Section>

		<Section title='Blog Posts'>
			<div
				class={blogPosts.length > 3
					? 'grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3'
					: 'flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'}
			>
				{
					blogPosts.map((article) => (
						<ProjectCard
							href={article.url}
							heading={article.title}
							imagePath={article.imagePath}
							subheading={article.pubDate}
							altText='The Rust programming language'
							isOnlineImage={true}
						/>
					))
				}
			</div>
		</Section>

		<!-- {
			allPostsByDate.length > 0 && (
				<Section title='Posts'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		} -->

		<Section title='Experience'>
			<Card
				heading='PostNL'
				subheading='Data Scientist | Software Engineer'
				date='2024 – Today'
				imagePath='/src/assets/postnl-logo.png'
				altText='PostNL logo'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Led the development of the PostNL Data Science Platform, establishing the main
						infrastructure and implementing CI/CD pipelines for efficient deployment. Leveraged <a
							href='https://streamlit.io/'
							class='font-bold text-blue-600 hover:text-blue-800'>Streamlit</a
						>
						as the web app framework, enabling PostNL Data Scientists to swiftly develop, integrate,
						and test proof of concepts (PoCs) for business stakeholders.
					</li>
					<li>
						Created the initial PostLit package, an internal Python package that seamlessly
						integrates with Streamlit, automating PostNL styling and managing in-app Identity and
						Access Management (IAM) within AWS.
					</li>
					<li>
						Initiated and developed the pipeline for a GenAI project aimed at reducing manual
						administrative workload for the call department by transcribing phone calls, generating
						concise summaries, and retrieving relevant information for integration into the CRM
						system.
					</li>
				</ul>
			</Card>
			<Card
				heading='PostNL'
				subheading='Data Scientist | Data Engineer'
				date='2022 – 2024'
				imagePath='/src/assets/postnl-logo.png'
				altText='PostNL logo'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Specialize in delivering valuable insights to business stakeholders through dashboards
						and reports, utilizing predictive modeling for informed decision-making.
					</li>
					<li>Advise on data matters, providing guidance to ensure effective data strategies.</li>
					<li>
						Integrate new data sources into our data lake and manage ETL processes in AWS, ensuring
						data accuracy and completeness.
					</li>
					<li>
						Focus on leveraging data to enhance operational efficiency and improve process
						reliability at PostNL.
					</li>
				</ul>
			</Card>
			<Card
				heading='Aurai'
				subheading='Junior Data Engineer'
				date='Dec 2022 - Nov 2022'
				imagePath='/src/assets/aurai-logo.png'
				altText='Aurai Logo'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Upon completion of the traineeship, I transitioned into a consultant role, undertaking
						assignments that apply my data engineering expertise to solve client challenges.
					</li>
				</ul>
			</Card>
		</Section>
	</div>
</PageLayout>

<!-- <Section title='Education'>
			<Card
				heading='Lorem Ipsum'
				subheading='Sit amet consectetur'
				date='Dec 2022 - Nov 2023'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
						molestiae laboriosam pariatur!

						<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
					</li>
				</ul>
			</Card>
			<Card
				heading='Lorem Ipsum'
				subheading='Sit amet consectetur'
				date='Dec 2022 - Nov 2023'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			/>
		</Section> -->

<!-- <Section title='Projects'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					href='https://www.google.com'
					heading='Consectetur'
					subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit.'
					imagePath='/src/assets/coming-soon.png'
					altText='Example'
					class='w-full sm:w-1/2'
				/>
				<ProjectCard
					as='div'
					heading='Coming soon...'
					subheading=''
					imagePath='/src/assets/coming-soon.png'
					altText='Lorem, ipsum dolor sit'
					class='w-full sm:w-1/2'
				/>
			</div>
		</Section> -->

<!-- <Section title='Certifications'>
			<Card
				as='a'
				heading='Lorem ipsum, dolor sit amet consectetur adipisicing.'
				subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta magni consequuntur corrupti.'
				date='Mar 2024 - Mar 2024'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.google.com'
			/>
			<Card
				as='a'
				heading='Lorem ipsum, dolor sit amet'
				subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta.'
				date='Mar 2029 - Mar 2032'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.google.com'
			/>
		</Section> -->

<!-- <Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Frontend' skills={frontend} />
			<SkillLayout title='Backend' skills={backend} />
			<SkillLayout title='Others' skills={others} />
		</Section> -->
