---
import profilePictureTransparent from '@/assets/cartoon-profile-cutout.webp'
import travelPicture from '@/assets/travel-jordan.jpg'
import TypeWriteComponent from '@/components/react/TypeWriteComponent'
import Polaroid from '@/components/Polaroid.astro'
import { heroData } from '@/data/data'
import { Icon } from 'astro-icon/components'
---

<div class='container mx-auto min-h-screen py-8'>
	<div class='items-center lg:flex'>
		<div class='w-full lg:w-1/2'>
			<div class='space-y-4 lg:max-w-lg'>
				<h1 class={heroData.heading.class}>
					<TypeWriteComponent client:only='react' texts={heroData.texts} />
				</h1>

				<p class={heroData.description.class}>
					{heroData.description.text}
				</p>

				<div class='flex flex-wrap md:space-x-2'>
					{
						heroData.buttons.map((button, _) => (
							<a href={button.href} class={button.class}>
								{button.iconName && <Icon name={button.iconName} class='h-5 w-5' />}
								{button.text}
							</a>
						))
					}
				</div>
			</div>
		</div>

		<div class='relative mt-6 flex w-full items-center justify-center lg:mt-0 lg:w-1/2'>
			<!-- Decorative background elements -->
			<div
				class='absolute inset-0 -z-10 animate-pulse bg-gradient-to-r from-sky-100/30 to-transparent blur-3xl dark:from-sky-900/20'
			>
			</div>

			<!-- Image group container -->
			<div
				class='relative h-[400px] w-full md:h-[500px] lg:h-[600px] lg:w-[600px]'
				id='image-gallery'
			>
				<Polaroid
					position='right'
					image={travelPicture}
					alt='Travel; Camel in Jordan'
					width={220}
					iconName='airplane'
					class='!-right-4 md:!-right-8 lg:!-right-14'
				/>

				<Polaroid
					position='center'
					image='https://cdn.pixabay.com/photo/2021/11/10/07/17/canal-6783153_1280.jpg'
					alt='Amsterdam Westerkerk'
					width={280}
					height={280}
					iconName='house'
					class='scale-75 md:scale-90 lg:scale-100'
				/>

				<Polaroid
					position='left'
					image={profilePictureTransparent}
					alt='Disney Like Profile'
					width={280}
					iconName='person'
					imageClass='bg-[url(/images/binary-background.webp)]'
					class='!-left-4 md:!-left-8 lg:!-left-14'
				/>
			</div>
			<!-- Decorative elements -->
			<div
				class='absolute -right-20 top-0 hidden h-20 w-20 animate-pulse rounded-full border-4 border-dashed border-sky-200/80 dark:border-sky-800/80 lg:block'
			>
			</div>
			<div
				class='absolute -left-16 bottom-12 hidden h-14 w-14 animate-pulse rounded-lg border-4 border-sky-200/80 dark:border-sky-800/80 lg:block'
			>
			</div>
			<div
				class='absolute bottom-0 right-20 hidden h-16 w-16 animate-pulse rounded-full border-4 border-sky-200/80 dark:border-sky-800/80 lg:block'
			>
			</div>
		</div>
	</div>
</div>

<script>
	const gallery = document.getElementById('image-gallery')
	const polaroids = gallery?.querySelectorAll('.polaroid')

	polaroids?.forEach((polaroid) => {
		if (polaroid instanceof HTMLElement) {
			// Type guard for HTMLElement
			polaroid.addEventListener('mouseenter', () => {
				// Reset all polaroids to initial z-index
				polaroids.forEach((p) => {
					if (p instanceof HTMLElement) {
						// Type guard for each element
						p.style.zIndex = '10'
					}
				})
				// Set hovered polaroid to highest z-index
				polaroid.style.zIndex = '30'
			})
		}
	})
</script>
