---
import type { SiteMeta } from '@/types'

import BaseHead from '@/components/BaseHead.astro'

import ThemeProvider from '@/components/ThemeProvider.astro'

import { siteConfig } from '@/site-config'

interface Props {
	meta: SiteMeta
}

const {
	meta: {
		description = 'See the top scoring individuals',
		ogImage = '/hero-image.jpg',
		title = '🏅 Individual Leaderboard'
	}
} = Astro.props
---

<html lang={siteConfig.lang}>
	<head>
		<BaseHead description={description} ogImage={ogImage} title={title} />
		<meta property='og:type' content='website' />
		<meta property='og:title' content={title} />
		<meta property='og:description' content={description} />
		<meta property='og:image' content={ogImage} />
		<meta name='twitter:card' content='summary_large_image' />
		<meta name='twitter:title' content={title} />
		<meta name='twitter:description' content={description} />
		<meta name='twitter:image' content={ogImage} />
	</head>

	<body class='flex justify-center bg-background'>
		<ThemeProvider />

		<div class='w-full'>
			<main
				class='flex min-h-screen flex-col justify-between font-satoshi text-[0.92rem] leading-relaxed'
			>
				<!-- <Container>
					<Header />
				</Container> -->

				<!-- Main content: Hero + Leaderboard slot -->
				<div class='py-8'>
					<slot />
				</div>

				<!-- <Container>
					<Footer />
				</Container> -->
			</main>
		</div>
	</body>
</html>
